<div style="text-align:center">
  <div class="span12">
      <h2 class="media-heading">My Wikis</h2>
  </div>
</div>



<div style="text-align:center">
  <div class="span12">
    <div id="posts">
      <%= render @posts %>
    </div>
  </div>
</div>

<div style="text-align:center">
  <div class="span12">
    <%= link_to "New Wiki", new_post_path, class: 'btn btn-primary btn-large' %>
  </div>
</div>




