<div style="text-align:center">
  <div class="span12">
      <h2 class="media-heading">My Wikis</h2>
  </div>
</div>



<div style="text-align:center">
  <div class="span12">
    <div id="posts">
      <%= render @posts %>
    </div>
  </div>
</div>



