<div class="span8">
  <h1><%= markdown @post.title %></h1>

  <% if can? :edit, @post %>
    <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-small' %>
  <% end %>

  <% if can? :destroy, @post %>
    <%= link_to "Delete Wiki", [@post], method: :delete, class: 'btn btn-mini btn-danger pull-right', confirm: 'Are you sure you want to delete this Wiki' %>
  <% end %>

  <p><%= markdown @post.body %></p>
</div>
